.nav{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
    margin: 0;
    color: burlywood;
    text-align: center;
}